<!DOCTYPE html>
<html>
<head>
  <title>ToDo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <h1>To Do List</h1>
    <br>
    <%= link_to "Add New Task", items_new_path %>
    <%= link_to "View All Tasks", items_path %>
    <p>

    <%= yield %>

  </div>
</body>
</html>
